# Default ignored files
/../../SchedBot /.idea/shelf/
/../../SchedBot /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../SchedBot /.idea/httpRequests/
# Datasource local storage ignored files
/../../SchedBot /.idea/dataSources/
/../../SchedBot /.idea/dataSources.local.xml
